td,body,p,div {
  font-family: Helvetica, Sans-Serif;
  font-size: 10pt;
}

body {
  background-color: white;
}

h1 {
  color: #002080;
  font-size: 12pt;
}

h2 {
  color: #002080;
  font-size: 9pt;
  width: 640px;
}

.childform-content {
  border-top: 4px;
  margin-bottom: 2px;
  margin-top: -2px;
  position: relative;
  top: -1px;
  padding-left: 3pt;
  padding-right: 3pt;
  margin-bottom: 16px;
}

.childform-header {
  border-bottom: 0px;
  margin-top: 1px;
  position: relative;
  outline-style: none;
  font-size: 10pt;
  padding-top: 3pt;
  padding-left: 3pt;
  padding-right: 3pt;
}

.childform-gridlayout {
}

.childform {
  width: 640px;
}

.filler {
  margin-right: 40px;
}

.childform-content {
border-top: 0px;
}

.ui-button-text {
  font-size: 8pt;
}
.ui-button {
  font-size: 8pt;
}

.jqgrow {
  cursor: default;
}

button {
  width: 140px;
}

.toolbar {
	height: 24px;
}

.toolbarButton {
}

td, ul, li {
	font-family: Helvetica, sans-serif;
	font-size: 8pt;
}
th {
	font-family: Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	text-align: left
}

.linkButton {
	border: 1px solid #c0c0c0;
	padding-bottom: 1px;
	margin-right: 3px;
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 4px;
	cursor:pointer;
	font-size: 8pt;
	float: left;
	height: 16px;
}

.linkButton-hover {
	background-color: #c0c0c0;
}

.mainMenuIcon {
	margin-right: 40px;
	margin-bottom: 40px;
	width: 135px;
	display: inline-table;
}

.mainMenuIconFrame {
	border: 2px solid #e78f08; padding: 24px;
	padding-bottom: 40px;
	background-color: white;
	-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
}
.mainMenuIconImage {
	background-color: #fdf5ce;
	padding: 0px;
	width: 128px;
	height: 128px;
	cursor: pointer;
	overflow: hide;
	-moz-border-radius: 24px; -webkit-border-radius: 24px; border-radius: 24px;
}
.mainMenuIconOverlay {
	z-index: 1;
	border: 4px solid #e78f08;
	width: 124px;
	height: 124px;
	overflow: hide;
	position: absolute; background-image: url(/static/overlay.png);
	-moz-border-radius: 24px; -webkit-border-radius: 24px; border-radius: 24px;
}
.mainMenuIconLabel {
	z-index: 2;
	padding: 4px;
	background-color: white;
	max-width: 100px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: -10px;
	display: inline-table;
	border: 4px solid #e78f08;
	-moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px;
}
.mainMenuIconImageHover {
	background-color: #fed22f;
}
.mainMenuIconOverlayHover {
	border: 4px solid #363636;
}

.mainMenuIconLabelFrame {
	position: absolute; z-index:1; width: 132px; text-align:center
}

a.mainMenuIconLabelText {
	text-decoration: none;
	color: #363636;
}

span.ui-icon-close {
	cursor: pointer;
	float: left;
}

.ui-layout-resizer {
	border-left: 1px solid #aaa;
	border-right: 1px solid #ddd;
	background-color:#e78f08;
}