body {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 10pt;
}

h2 {
	font-size: 12pt;
	color: #1010c0;
}

th {
	font-size: 9pt;
}

.th_horizontal {
	text-align: right;
}

td {
	font-size: 9pt;
}

.testbox {
	float: left;
	font-size: 7pt;
	overflow: hidden;
	width: 80px;
	height: 22px;
	border: 1px dotted #a0a0a0;
}

.legend_sample {
	float: left;
	margin-top: -4px;
	width: 20px;
	height: 20px;
	border: 1px dotted #a0a0a0;
}

.category_box {
	float: left;
	margin: 3px;
	padding: 2px;
	border: 1px dotted #a0a0a0;
}

.codeline {
	white-space:pre;
}

.linenumber {
	text-align: right;
	border-right: 1px solid #a0a0a0;
}

.codeblock {
	border: 1px solid #a0a0a0;
}

.coverage_covered {
	background-color: #a0ffa0;
}

.coverage_notcovered {
	background-color: #ffe0e0;
}

.coverage_empty {
	color: #c0c0c0;
}

.important_row {
	border: 1px solid black;
}

.list_level_1 {
	padding-left: 12px;
}

.list_level_2 {
	padding-left: 24px;
}

.list_level_3 {
	padding-left: 36px;
}

.list_level_4 {
	padding-left: 48px;
}

.list_level_5 {
	padding-left: 60px;
}

.list_level_6 {
	padding-left: 72px;
}

.list_level_7 {
	padding-left: 84px;
}

.list_level_8 {
	padding-left: 96px;
}

.list_level_9 {
	padding-left: 108px;
}

.table_overview {
	width: 460px;
}

.testresult_success {
	background-color: #a0ffa0;
}

.testresult_failure {
	background-color: #ffa0a0;
}

.testresult_notest {
	background-color: #c0c0c0;
}