.cw-wednesday .em {
	color: red !important;
}

.weekdays td {
	color: red;
}

.month-header {
	text-align: center;
	border-bottom: 1px solid;
}

.calendar-view {
	border: 1px solid;
	padding: 2 5 2 5;
}

.calendar-view td {
	width: 20px;
	height: 20px;
	padding: 2 2 2 2;
}

.date-rows {
	background: #99DDFF;
}

.date {
	height: 30px;
	width: 30px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}

.number {
	margin: 0 0 0 2;
	background-image: url('7bell.png');
	background-repeat: no-repeat;
	background-position: 85% 40%;
}

.preassignment {
	height: 6px;
	margin: 2 2 2 2;
	width: 26px;
	background: #99DDFF;
}