CREATE USER $dest_schema IDENTIFIED BY $dest_schema
DEFAULT TABLESPACE flm_big_data
TEMPORARY TABLESPACE flm_temp;
ALTER USER $dest_schema quota unlimited on flm_big_data;
ALTER USER $dest_schema quota unlimited on flm_big_idx;
GRANT CREATE SESSION,
      CREATE TABLE,
      CREATE VIEW,
      CREATE SEQUENCE,
      CREATE PROCEDURE
TO $dest_schema; 
GRANT ALTER SYSTEM TO $dest_schema;
GRANT READ, WRITE ON DIRECTORY data_pump_dir TO $dest_schema;
