SCHEMAS=$source_schema
REMAP_SCHEMA=$source_schema:$dest_schema
REMAP_TABLESPACE=cms_tab:flm_big_data
REMAP_TABLESPACE=cms_ind:flm_big_idx
DIRECTORY=${dumpdirectory}
DUMPFILE=${dumpfile}_%U
LOGFILE=dpimp_full_${dumpfile}.log
PARALLEL=$parallel
JOB_NAME=dpimp_full
TABLE_EXISTS_ACTION=REPLACE
CONTENT=ALL
EXCLUDE=USER