SCHEMAS=$source_schema
REMAP_SCHEMA=$source_schema:$dest_schema
DIRECTORY=${dumpdirectory}
DUMPFILE=${dumpfile}_%U
LOGFILE=dpimp_stripped_index_${dumpfile}.log
PARALLEL=$parallel
JOB_NAME=dpimp_stripped_indexes
CONTENT=METADATA_ONLY
INCLUDE=INDEX/INDEX,CONSTRAINT
