REMAP_SCHEMA=$source_schema:$dest_schema
DIRECTORY=$dumpdirectory
DUMPFILE=${dumpfile}_%U
LOGFILE=dpimp_stripped_dave_revision_${dumpfile}.log
PARALLEL=$parallel
JOB_NAME=dpimp_stripped_dave_revision
CONTENT=DATA_ONLY
QUERY=DAVE_REVISION:"WHERE EXISTS (SELECT DISTINCT REVID FROM $dest_schema.DAVE_UPDATED_TABLES WHERE REVID = KU$$.REVID)"
TABLES=$source_schema.DAVE_REVISION
