
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<distributable />

	<display-name>SAS Crew Portal 11</display-name>
	
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	
	<absolute-ordering>
		<name>interbids_fgm</name>
		<name>vacation_fgm</name>
		<name>career_fgm</name>
		<name>administration_fgm</name>
		<name>portaladministration_fgm</name>
		<others />
	</absolute-ordering>
	
	<filter>
		<filter-name>WebCacheFilter</filter-name>
		<filter-class>com.jeppesen.jcms.operation.portal.filter.WebCacheFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>UserDataFilter</filter-name>
		<filter-class>com.jeppesen.jcms.wpf.operation.filters.UserDataFilter</filter-class>
	</filter>

	<filter>
		<filter-name>XUACompatibleHeaderFilter</filter-name>
		<filter-class>com.jeppesen.jcms.wpf.operation.filters.XUACompatibleHeaderFilter</filter-class>
		<init-param>
			<param-name>X_UA_Compatible_Value</param-name>
			<param-value>IE=EDGE</param-value>
		</init-param>
	</filter>	
	
	<filter-mapping>
		<filter-name>UserDataFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>UserDataFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>WebCacheFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
		
	<filter-mapping>
		<filter-name>XUACompatibleHeaderFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 	
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/rs/*</url-pattern>
	</servlet-mapping>

	<env-entry>
		<env-entry-name>tabOrder</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>administration,interbids,vacation,career</env-entry-value>
	</env-entry>
	
	<error-page>
        <error-code>403</error-code>
        <location>/sas-unauthorized.html</location>
	</error-page>
	
	<!--
	PROTECTED 
	-->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>protect_all</web-resource-name>
<!-- 			<url-pattern>/</url-pattern> -->
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Require Authentication</description>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!--
	UNPROTECTED
	-->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>portal</web-resource-name>
			<url-pattern>/sas</url-pattern>
			<url-pattern>/index.html</url-pattern>
            <url-pattern>/rs/portal/uisupport/logo</url-pattern>
            <url-pattern>/rs/portal/login</url-pattern>
            <url-pattern>/unprotected/*</url-pattern>
            <url-pattern>/portal/logout.html</url-pattern>
            <url-pattern>/portal/css/logout.css</url-pattern>
            <url-pattern>/portal/css/all.css</url-pattern>
			<url-pattern>/sas-unauthorized.html</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<security-role>
		<role-name>*</role-name>
	</security-role>

	<login-config>
		<auth-method>BASIC?silent=true,FORM</auth-method>
		<realm-name>ApplicationRealm</realm-name>
		<form-login-config>
			<form-login-page>/sas-unauthorized.html</form-login-page>
			<form-error-page>/sas-unauthorized.html</form-error-page>
		</form-login-config>
	</login-config>
	
</web-app>
