/**
 * This class contains implementation specific xml.
 */

/**
 * Bid overview category examples. They should always have width 30 but the background colour
 * is configurable.
 */
.ux-grid-column-weekend {
 	background-color: #C7DBF0;
}

.work-bid-overview,
.off-bid-overview {
	width: 30px;
}

.work-bid-overview {
	background-color: blue;
}

.off-bid-overview {
	background-color: #A7E3B4;
}


/**
 * Gantt items that are always available. Background colours are configurable.
 */
.ux-gantt-item {
	background-color: #E1E8B7;
}

.ib-preassignment-item {
	background-color: #FFBFBF;
}

/**
 * Example gantt items.
 * These can be called anything and background colours are configurable.
 */
.flight-gantt-object {
    background-color: #9C9;
}

.ground-gantt-object {
    background-color: #C96;
}

.standby-gantt-object {
    background-color: #963;
}

.personal-gantt-object {
    background-color: #CCC;
}

/**
 * If current line items should have a specific background this needs to be put after gantt-object classes.
 */
.ib-currentline-item {
	background-color: green;
}

/**
* Trip list cell icons and row styles.
*/
.high-points-icon {
	background: transparent url(../img/award_star_gold_1.png) no-repeat scroll 0px 50%;
}
.medium-points-icon {
	background: transparent url(../img/award_star_gold_2.png) no-repeat scroll 0px 50%;
}
.low-points-icon {
	background: transparent url(../img/award_star_gold_3.png) no-repeat scroll 0px 50%;
}
.max-row-limit-style td {
	font-weight: bold;
}

/* ---- TRIP MARKINGS _______________________________________________________
 * Example trip markers.
 */

/* markings in GridPanel and GanttViews */

.x-grid3-cell-inner .tripmarker-low,
.ux-gantt-item.tripmarker-low,
.flight-gantt-object.tripmarker-low {
	background-color: yellow;
}

.x-grid3-cell-inner .tripmarker-medium,
.ux-gantt-item.tripmarker-medium,
.flight-gantt-object.tripmarker-medium {
	background-color: orange;
}

.x-grid3-cell-inner .tripmarker-high,
.ux-gantt-item.tripmarker-high,
.flight-gantt-object.tripmarker-high {
	background-color: red;
}

/* markings in the Tools menu */

.tripmarker-low .x-menu-item-icon {
	 background: transparent url(../img/tripmarking_low.gif) no-repeat scroll 0px 50%;
}

.tripmarker-medium .x-menu-item-icon {
	 background: transparent url(../img/tripmarking_medium.gif) no-repeat scroll 0% 50%;
}

.tripmarker-high .x-menu-item-icon {
	 background: transparent url(../img/tripmarking_high.gif) no-repeat scroll 0% 50%;
}

/* icon in combobox */

.cw-combo-box-with-icon .x-form-text.x-form-field.tripmarker-high,
.cw-combo-box-with-icon .x-form-text.x-form-field.tripmarker-medium,
.cw-combo-box-with-icon .x-form-text.x-form-field.tripmarker-low {
	padding-left: 20px;
	padding-right: 0px;
}

.cw-combo-box-with-icon .cw-combo-icon.tripmarker-low{
	background: transparent url(../img/tripmarking_low.gif) no-repeat scroll 0px 50%;
}

.cw-combo-box-with-icon .cw-combo-icon.tripmarker-medium{
	background: transparent url(../img/tripmarking_medium.gif) no-repeat scroll 0px 50%;
}

.cw-combo-box-with-icon .cw-combo-icon.tripmarker-high{
	background: transparent url(../img/tripmarking_high.gif) no-repeat scroll 0px 50%;
}

.x-combo-list .tripmarker-low {
	 background: transparent url(../img/tripmarking_low.gif) no-repeat scroll 2px 50%;
	 padding-left: 22px;
}

.x-combo-list .tripmarker-medium {
	 background: transparent url(../img/tripmarking_medium.gif) no-repeat scroll 2px 50%;
	 padding-left: 22px;
}

.x-combo-list .tripmarker-high {
	 background: transparent url(../img/tripmarking_high.gif) no-repeat scroll 2px 50%;
	 padding-left: 22px;
}

/* ----- END TRIP MARKINGS _________________________________________________________________*/


.bidreceipt {
	color: green;
}


#x-menu-el-currentprintAllButton {
	display: none;
}

#x-menu-el-TripSearchResultView_GanttReportMenuId {
	display: none;
}

#x-menu-el-TripSearchResultView_addToLineButtonGantt {
	display: none;
}

#x-menu-el-toggle_line_build {
	display: none;
}
/*
#trip_search_tools_menu {
	display: none;
}
*/

#x-menu-el-preferenceprintAllButton {
	display: none;
}


#fs_category {
	font-size: 14px;
}

#fs_bid_list {
	font-size: 14px;
}

#fs1_category {
	font-size: 14px;
}

#fs1_bid_list {
	font-size: 14px;
}

#f7s_category {
	font-size: 14px;
}

#f7s_bid_list {
	font-size: 14px;
}

#f0_category {
	font-size: 14px;
}

#f0_bid_list {
	font-size: 14px;
}

#f3s_category {
	font-size: 14px;
}

#f3s_bid_list {
	font-size: 14px;
}

#f32_category {
	font-size: 14px;
}

#f32_bid_list {
	font-size: 14px;
}

/* Bid Group Receipt */
#bidGroupList {
	padding-bottom:10px;
}

#bidGroupReceipt {
	background-color:white;
}

#bidGroupReceiptUserInfo {
	text-align: left;
	border: 1px solid black;
}

#bidGroupReceiptUserInfoHeaderCell {
	font-size: 14px;
	padding: 1px 5px 1px 10px;
}

#bidGroupReceiptUserInfoBodyCell {
	font-size: 12px;
	padding: 1px 5px 1px 10px;
}

#bidGroupReceiptTable {
	text-align: left;
	border-spacing: 0;
	border-collapse:collapse;
	width: 800px;
}


#bidGroupReceiptTableHeader {
	font-size: 14px;
	padding: 1px 10px 1px 10px;
	background-color: #BBBBBB;
	border-bottom: 1px solid #000;
}

#bidGroupReceiptTableHeaderCell {
	padding: 1px 10px 1px 10px;
}

#bidGroupReceiptTableBodyEven {
	font-size: 12px;
	padding: 1px 10px 1px 10px;
	background-color: #FFFFFF;
}

#bidGroupReceiptTableBodyOdd {
/* 	display: inline-block; */
	font-size: 12px;
	padding: 1px 10px 1px 10px;
	background-color: #DDDDDD;
}

#bidGroupReceiptTableBodyCell {
	padding: 1px 10px 1px 10px;
	border-bottom: 1px dotted #000000;
}

#periodText {
	font-size: 14px;
	font-weight:bold;
}

.request_new_bid_button {
	font-size: 12px !important;
	font-weight:bold !important;
	color: red !important;
	padding-left: 0px !important;
}

.request_cancel_button {
	color: #333333 !important;
	font: 11px arial, tahoma,verdana,helvetica !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.ux-request-header {
	padding-bottom: 20px;
}

.bid_new_bid_button {
	font-size: 12px !important;
	font-weight:bold !important;
	color: red !important;
	padding-left: 0px !important;
}

.ib-bid-property-label {
	vertical-align: top;
	padding-top: 5px	
}
