.awarding-type-selection-list-item .at-tab-right {
	background: url("../js/extjs/resources/images/default/tabs/tabs-sprite.gif") no-repeat scroll 0 -51px transparent;
}

.awarding-type-selection-list-item .at-tab-left {
	background: url("../js/extjs/resources/images/default/tabs/tabs-sprite.gif") no-repeat scroll right -351px transparent;
}

.awarding-type-selection-list-item .at-tab-inner {
	background: url("../js/extjs/resources/images/default/tabs/tabs-sprite.gif") repeat-x scroll 0 -201px transparent;
}

#periodText {
	font-family: Arial;
	font-size: 14px;
	font-weight:bold;
	margin-top: 5px;
	margin-left: 5px;
	color: #15428B;
}

.CustomCareerTab_TRANSITION {
	display: none;
}

/* #top_panel { */
/* 	height: 60px !important; */
/* } */
 
 
#awardingType_card_cmp {
	top: 30px !important;
}

.warp_jmp_bidlist_new_bid_button {
	font-size: 12px !important;
	font-weight:bold !important;
	color: red !important;
	padding-left: 0px !important;
}

.warp_jmp_bidlist_edit_bid_button {
	font: 11px arial,tahoma,verdana,helvetica !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.warp_jmp_bidlist_bid_receipt_button {	
	font: 11px arial,tahoma,verdana,helvetica !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Bid Group Receipt */
#bidGroupList {
	padding-bottom:10px;
}

#bidGroupReceipt {
	background-color:white;
}

#bidGroupReceiptUserInfo {
	text-align: left;
	border: 1px solid black;
}

#bidGroupReceiptUserInfoHeaderCell {
	font-size: 14px;
	padding: 1px 5px 1px 10px;
}

#bidGroupReceiptUserInfoBodyCell {
	font-size: 12px;
	padding: 1px 5px 1px 10px;
}

#bidGroupReceiptTable {
	text-align: left;
	border-spacing: 0;
	border-collapse:collapse;
	width: 800px;
}


#bidGroupReceiptTableHeader {
	font-size: 14px;
	padding: 1px 10px 1px 10px;
	background-color: #BBBBBB;
	border-bottom: 1px solid #000;
}

#bidGroupReceiptTableHeaderCell {
	padding: 1px 10px 1px 10px;
}

#bidGroupReceiptTableBodyEven {
	font-size: 12px;
	padding: 1px 10px 1px 10px;
	background-color: #FFFFFF;
}

#bidGroupReceiptTableBodyOdd {
/* 	display: inline-block; */
	font-size: 12px;
	padding: 1px 10px 1px 10px;
	background-color: #DDDDDD;
}

#bidGroupReceiptTableBodyCell {
	padding: 1px 10px 1px 10px;
	border-bottom: 1px dotted #000000;
}


.custom-bidProperty-panel {
	padding-top: 15px;
	padding-left: 5px;
}

ul.cw-messagebox-message > li:first-child {
	list-style: none;
	font-weight: bold;
	margin-left: 0px !important;
}

ul.cw-messagebox-message > li {
	margin-left: 25px;
}