<?xml version="1.0" encoding="UTF-8" ?>
<config>
  <!-- Local overrides, including systemname -->
  <include href="${CARMUSR}/etc/local.xml">
    <fallback/>
  </include>

  <!-- Studio settings for configurating plan, overridable -->
  <!--
      This defines data_model/period_start which needs to be first of all other 
      data_model/period_start entries
  -->
  <include href="${CARMUSR}/etc/datamodel/${CARMSYSTEMNAME}.xml">
    <fallback/>
  </include>
  <include href="${CARMUSR}/etc/datamodel/data_model.xml"/>


  <include href="${CARMUSR}/etc/server_factory/sge_config.xml">
   <fallback/>
  </include>

  <include href="${CARMUSR}/etc/server_factory/${CARMSYSTEMNAME}.xml">
    <fallback href="${CARMUSR}/etc/server_factory/dynamic.xml"/>
  </include>

  <global>
    <default>
      <lang>en_US</lang>
      <mqsuffix></mqsuffix>

      <!-- Database configuration, overridable -->
      <include href="${CARMUSR}/etc/db/${CARMSYSTEMNAME}.xml">
        <fallback/>
      </include>

    </default>
  </global>

  <services_archiver>
    <archive_dir>$(CARMDATA)/REPORTS/CREW_REPORTS</archive_dir>
  </services_archiver>

  <!-- Host configuration, overridable -->
  <include href="${CARMUSR}/etc/hosts/cluster_state_${CARMSYSTEMNAME}.xml">
    <fallback href="${CARMUSR}/etc/hosts/cluster_state_default.xml"/>
  </include>
  <include href="${CARMUSR}/etc/hosts/${CARMSYSTEMNAME}.xml">
    <fallback href="${CARMUSR}/etc/hosts/dynamic.xml"/>
  </include>
  <include href="${CARMUSR}/etc/hosts/default.xml"/>


  <!-- Program configuration, overridable -->
  <include href="${CARMUSR}/etc/programs/${CARMSYSTEMNAME}.xml">
    <fallback/>
  </include>
  <include href="${CARMUSR}/etc/programs/default.xml"/>
  
  <!-- Process Groups -->
  <include href="${CARMUSR}/etc/programs/process_groups.xml"/>

  <!-- Launcher applications -->
  <include href="${CARMUSR}/etc/applications/applications.xml"/>  

  <!-- Subsystems -->
  <include href="${CARMUSR}/etc/subsystems/default.xml"/>

</config>
