{% extends "base_jquery.html" %}
{% block headex_int %}
{%if not error %}
        <script type="text/javascript">
        VNC_uri_prefix="/static/vnc/";
        </script>
        <script type="text/javascript" src="/static/vnc/vnc.js"></script> 
        <script type="text/javascript" src="/static/vnc/default_controls.js"></script>
{% else %}
{{ block.super }}
<script type="text/javascript">
$(function() {
	   errorBox('{{error}}');
});
</script>
{% endif %}
{% endblock %}

{% block content %}
    <canvas id="VNC_canvas" width="640px" height="20px">
    Canvas not supported
    </canvas>
 
{%if not error %}
    <script> 
        window.onload = function () {
            RFB.load();
            RFB.connect('cadillac', {{port}}, '', false, true);
        }
    </script> 
{% endif %} 
{% endblock %}
