
<script type="text/javascript">
function activateProcessPanel() {
	$("#pingButton").button({ icons: {primary:'ui-icon-lightbulb'}});
	$("#logButton").button({ icons: {primary:'ui-icon-script'}});
	$("#envButton").button({ icons: {primary:'ui-icon-gear'}});
	$("#stackButton").button({ icons: {primary:'ui-icon-search'}});
	$("#pythonButton").button({ icons: {primary:'ui-icon-wrench'}});
	$("#viewSGEButton").button({ icons: {primary:'ui-icon-wrench'}}).click(function() {
		$('#logDialogContent').html('<iframe frameborder="0" width="100%" height="100%" src="/adm/api/process/sgeinfo/{{id}}" />');
		var dlg = $('#logDialog');
		dlg.dialog({"title": "SGE info for {{id}}"});
		dlg.dialog('open');
	});
	$("#viewConsoleButton").button({ icons: {primary:'ui-icon-search'}}).click(function() {
		openForm("/adm/console","/adm/console/{{id}}");
	});
	$("#pingButton").click(function() {
		$.get("/adm/api/process/ping/{{id}}", function(data) {
			$("#pingResult").text(data);
		});
	});
	$("#sessionClaim").button({ icons: {primary:'ui-icon-flag'}}).click(function() {
		$.post("/adm/api/process/session/take/{{id}}", "", function(data) {
			if(data == "OK") {
				$("#processList").trigger("reloadGrid");
			} else {
				errorBox(data);
			}
		});
	});
	$("#sessionUnclaim").button({ icons: {primary:'ui-icon-flag'}}).click(function() {
		$.post("/adm/api/process/session/release/{{id}}", "", function(data) {
			if(data == "OK") {
				$("#processList").trigger("reloadGrid");
			} else {
				errorBox(data);
			}
		});
	});
	$("#pythonButton").click(function() {
		$('#logDialogContent').html('<iframe frameborder="0" width="100%" height="100%" src="/adm/pythonconsole/{{id}}" />');
		var dlg = $('#logDialog');
		dlg.dialog({title: "Python console for {{id}}"});
		dlg.dialog('open');
	});
	$("#logButton").click(function() {
		$('#logDialogContent').html('<iframe frameborder="0" width="100%" height="100%" src="/adm/api/process/logfile/{{id}}" />');
		var dlg = $('#logDialog');
		dlg.dialog({"title": "Log for {{id}}"});
		dlg.dialog('open');
	});
	$("#envButton").click(function() {
		$.get("/adm/api/process/environ/{{id}}/html", function(data) {
			$('#logDialogContent').html(data);
			var dlg = $('#logDialog');
			dlg.dialog({"title": "Environment for {{id}}"});
			dlg.dialog('open');
		});
	});
	$("#stackButton").click(function() {
		$.get("/adm/api/process/stack/{{id}}/html", function(data) {
			$('#logDialogContent').html(data);
			var dlg = $('#logDialog');
			dlg.dialog({"title": "Stack trace for {{id}}"});
			dlg.dialog('open');
		});
	});
	$('#logDialog').dialog({
		autoOpen: false,
		resizable: true,
		modal: true,  width:700, height: 580
	});
}
</script>

<div id="logDialog" title="Message" style="display:none">
	<div style="overflow: hide; width:100%; height: 100%" id="logDialogContent">Content</div>
</div>

<table>
<tr><td colspan="3">
<div style="margin: 6px; margin-bottom: 20px; font-size: 9pt; color:#505050">
SGE Job number: {{id}}
</div>
</td>
</tr>
<tr>
<td><button id="pingButton">Ping</button></td>
<td><div id="pingResult"></div></td><td>
{% if cursession == jobsession %}
<button id="sessionUnclaim">Un-Claim</button>
{% else %}
{% if not jobsession %}
<button id="sessionClaim">Claim</button>
{% endif %}
{% endif %}
</td></tr>
<tr>
<td><button id="logButton">View log</button></td>
<td><button id="envButton">Environment</button></td>
<td><button id="stackButton">Stack</button></td>
</tr>
<tr>
<td><button id="pythonButton">Python console</button></td>
<td><button id="viewConsoleButton">VNC console</button></td>
<td><button id="viewSGEButton">SGE info</button></td>
</tr>
</table>

<script type="text/javascript">
activateProcessPanel();
</script>