{% extends "base_jquery.html" %}
{% block content %}
<script type="text/javascript">
	function spawn() {
		 window.location.href = '/adm/startprocess';
 	}
	function refresh() {
		$("#processList").trigger('reloadGrid');
	}
	function reloadGrid() {
  	  $("#processList").trigger("reloadGrid");
	}
    function kill(jobid) {
	  askConfirm('Please confirm','Kill ' + jobid + '?', function() {
	    $.get('/adm/api/process/kill/'+jobid, function(data) {
	      if(data == "OK") {
		      window.setTimeout(reloadGrid, 2000);
	      } else {
	    	  errorBox(data);
	      }
	    });
	  }, null);
    }
	$(function() {
        $("#processList").jqGrid({
		   	url:'/adm/api/process/list?fmt=json',
			datatype: "json",
		   	colNames:['Type', 'Parameters', 'Status', 'Host name','Last refresh','CPU time','Memory'],
		   	colModel:[
		   		{name:'type',index:'type', width:100, sortable:false},
		   		{name:'params',index:'params', width:130, sortable:false},
		   		{name:'status',index:'status', width:70, sortable:false},
		   		{name:'host',index:'host', width:120, align:"left", sortable:false},
		   		{name:'refresh',index:'refresh', width:100, align:"right", sortable:false},		
		   		{name:'res_cpu',index:'res_cpu', width:80, align:"right", sortable:false},			
		   		{name:'res_mem',index:'res_mem', width:80,align:"right", sortable:false},	
		   	],
		   	onSelectRow: function(ids) {
		   	  if(ids != null && ids != '') {
			   	$.get('/adm/processpanel/'+ids, function(data) {
			   		$("#processPanelChildContent").html(data);
			   	});
		   	  } else {
		   		$("#processPanelChildContent").html('Select a process to display more information.');
		   	  }
		   	},
		   	loadComplete: function() {
		   		$("#processPanelChildContent").html('Select a process to display more information.');
		   	},
		   	sortname:'id',
		   	loadtext:"Loading...",
		   	loadonce:false,
		    caption:"Process list",
		    toolbar: [true,"top"],
		    width: 648
		});
		$("#processList").jqGrid('navGrid','#processListTools',{edit:false,add:false,del:false});
		$("#processList").toolbarButton("New process", spawn, null, false);
		$("#processList").toolbarButton("Terminate", kill, 'ui-icon-power', true);
		$("#processList").toolbarButton("Refresh", refresh, 'ui-icon-refresh', false);
		$("#processPanel").childform("Process details");
	    window.setTimeout(reloadGrid, 10000);
	});
</script>

<h1>Processes</h1>
<div>
<table id="processList"></table>
</div>
<div style="margin-top: 14px">
<div id="processPanel">
<div style="padding: 4px" id="processPanelChildContent">
Select a process to display more information.
</div>
</div>
</div>
{% endblock %}
