{% load extras %}
<script type="text/javascript">
params = {}
</script>

<div id="formContent">
<table>
{% for param in params %}
<tr>
<td align="right">{{param.name}}:</td>
<td>
{% if param.type == 'monYear' %}
<script type="text/javascript">
params.{{param.name}} = function() {return $('#param_{{param.name}}_month').val()+$('#param_{{param.name}}_year').val();}
</script>
<select size="1" id="param_{{param.name}}_month" name="param_{{param.name}}_month">
{% for month in months %}
<option name="{{month|upper}}" {%if month|upper == param.default|month|upper %}selected{%endif%}>{{month}}</option>
{% endfor %}
</select>
<select size="1" id="param_{{param.name}}_year" name="param_{{param.name}}_year">
<option name="2008" {%if '2008' == param.default|year %}selected{%endif%}>2008</option>
<option name="2009" {%if '2009' == param.default|year %}selected{%endif%}>2009</option>
<option name="2010" {%if '2010' == param.default|year %}selected{%endif%}>2010</option>
<option name="2011" {%if '2011' == param.default|year %}selected{%endif%}>2011</option>
</select>
{% else %} {% if param.type == 'enum' %}
<script type="text/javascript">
params.{{param.name}} = function() {return $('#param_{{param.name}}').val();}
</script>
<select size="1" id="param_{{param.name}}" name="param_{{param.name}}">
{% for vname, vval in param.values.items %}
<option value="{{vval}}" {%if vval == param.default %}selected{%endif%}>{{vname}}</option>
{% endfor %}
</select>
{% else %} {% if param.type == 'bool' %}
<script type="text/javascript">
params.{{param.name}} = function() {return ($('#param_{{param.name}}').val() == 'on');}
</script>
<input type="checkbox" id="param_{{param.name}}"{% if param.default %} checked{%endif%} name="param_{{param.name}}"></input>
{% else %}
<script type="text/javascript">
params.{{param.name}} = function() {return $('#param_{{param.name}}').val();}
</script>
<input type="text" id="param_{{param.name}}" value="{{param.default}}" name="param_{{param.name}}"></input>
{% endif %}{% endif %}{% endif %}
</td>
</tr>
{% endfor %}
</table>
</div>