{% extends "base_jquery.html" %}
{%block bodytag%}<body style="background-color: transparent">{%endblock%}
{% block content %}
<script type="text/javascript">
$(function() {
	$("#consolePanel").childform("Console");
	$("#responsePanel").childform("Response");
	$("#execButton").button().click(function() {
		$.post('/adm/api/process/evaluate/{{id}}', $("#pythonCode").val(), function(ret) {
			ch = ret.indexOf('\n');
			stat = ret.substr(0, ch);
			ret = ret.substr(ch+1);
			if(stat == 'OK') {
				$("#responseText").css('color','blue');
				if(ret == null || ret.trim().length == 0) {
					ret = "(The command completed successfully, but produced no output)";
				}
			} else {
				$("#responseText").css('color','red');
			}
			$("#responseText").text(ret);
		});
	});
	$("#pythonCode").focus();
	$(document).keydown(function (eh){
	  if(eh.keyCode == 27) {
		  window.parent.$('#logDialog').dialog('close');
	  }
	});
	$("#pythonCode").keypress(function (eh){
	  if(eh.keyCode == 10) {
		  $("#execButton").trigger('click');
	  }
	});
});
</script>

<div id="consolePanel">
<textarea id="pythonCode" style="width: 100%; height:200px; border: 0px"></textarea>
<div style="text-align:right">
<button id="execButton">Evaluate (Ctrl+Enter)</button>
</div>
</div>

<div style="margin-top: 14px">
<div id="responsePanel" style="overflow:scroll; min-height:200px">
<pre id="responseText"></pre>
</div>
</div>

{% endblock %}
