{% extends "base_jquery.html" %}
{% block content %}
<script type="text/javascript">
	$(function() {
        $("#newProcessPanel").childform('Start new process');

        loadForm = function() {
            val = $("#typeSelector").val();
            $.get('/adm/startprocess_form/'+val, function(data) {
            	$("#dynamicForm").html(data);
            });
        }
        $("#typeSelector").each(loadForm);
        $("#typeSelector").change(function() {
        	loadForm();
        });
        function getParams() {
            var ret = '';
            for(param in params) {
                ret += '&' + param + '=' + params[param]();
            }
            return ret.slice(1);
        }
        $("#startBtn").button().click(function() {
            val = $("#typeSelector").val();
            $.get('/adm/api/process/start/'+val+'?'+getParams(), function(data) {
                if(data == 'OK') {
                    window.location.href='/adm/processes';
                } else {
                	errorBox(data);
                }
            });
        });
	});
</script>
<h1>Start process</h1>
<div id="newProcessPanel"> Process type:
<select id="typeSelector" size="1">
{% for process in processTypes %}
<option value="{{process}}">{{process}}</option>
{% endfor %}
</select>
<form name="params" method="POST">
<div id="dynamicForm" style="height: 200px; overflow-y: scroll; width: 100%">
</div>
</form>
<div id="submitButton" style="">
<button id="startBtn">Start process</button>
</div>
</div>

{% endblock %}
