{% extends "base_jquery.html" %}
{%block bodytag%}<body marginheight="2" marginwidth="4" style="overflow: hidden">{%endblock%}
{% block content %}
<script type="text/javascript">
var tab_names = {{% for tab in tabs %}
 '{{tab.key}}' : '{{tab.val}}',{% endfor %}
};
var currentTabs = {'/menu':'#tab_MainMenu'};
var tabIndices = {'/menu':0};
var tab_counter = 0;
var last_href= '/404';
function opentab(href, real_href) {
	if(real_href==undefined) real_href = href;
	var prevTab = currentTabs[href];
	last_href = real_href;
	if(prevTab == undefined) {
		var title = tab_names[href];
		if(title == undefined) {
			function ccase(x) {return x[0].toUpperCase() + x.substr(1);}
			title = ccase(href.substr(href.lastIndexOf('/')+1));
		}
		tab_counter++;
		prevTab = '#tabs-'+tab_counter;
		$('#tabs').tabs('add', prevTab, title);
		currentTabs[href] = prevTab;
		tabIndices[href] = tab_counter;
	}
	$('#tabs').tabs('select', prevTab);
}
$('#tabs span.ui-icon-close').live('click', function() {
	var index = $('li',$('#tabs')).index($(this).parent());
	$('#tabs').tabs('remove', index);
});
$(function() {
	$('#tabs').tabs({
		tabTemplate: '<li><a href="#{href}">#{label}</a> <span class="ui-icon ui-icon-close">Remove Tab</span></li>',
		add: function(event, ui) {
			$(ui.panel).css("width", "100%").css("height", "100%").css("padding","0px");
			$(ui.panel).append('<iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" style="margin: 2px; padding: 0px;" src="' + last_href + '"></iframe>');
		},
		remove : function(event, ui) {
			var id = "#" + $(ui.panel)[0].id;
			var chref = null;
			for(var href in currentTabs) {
				if(currentTabs[href] == id) chref = href;
			}
			if(!chref) alert("Tab not found: " + id);
			else {
				delete currentTabs[chref];
				delete tabIndices[chref];
			}
	    },
	});
});
</script>
<div id="tabs">
	<ul>
		<li><a href="#tab_MainMenu">Menu</a></li>
	</ul>
	
	<div id="tab_MainMenu" style="width:100%; height: 100%; padding: 0px">
	<iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" style="margin: 2px; padding: 0px;" src="/menu"></iframe>
	</div>
</div>

{% endblock %}