{% extends "base_jquery.html" %}
{%block bodytag%}<body>{%endblock%}
{% block content %}
<script type="text/javascript">
$(function() {
	var icn = $(".mainMenuIcon");
	icn.mouseover(function() {
		$(this).children(".mainMenuIconImage").addClass("mainMenuIconImageHover");
		$(this).children(".mainMenuIconImage").children(".mainMenuIconOverlay").addClass("mainMenuIconOverlayHover");
		$(this).children(".mainMenuIconLabelFrame").children(".mainMenuIconLabel").addClass("mainMenuIconOverlayHover");
	});
	icn.mouseout(function() {
		$(this).children(".mainMenuIconImage").removeClass("mainMenuIconImageHover");
		$(this).children(".mainMenuIconImage").children(".mainMenuIconOverlay").removeClass("mainMenuIconOverlayHover");
		$(this).children(".mainMenuIconLabelFrame").children(".mainMenuIconLabel").removeClass("mainMenuIconOverlayHover");
	}); 
	icn.click(function() {
		$(this).children(".mainMenuIconImage").removeClass("mainMenuIconImageHover");
		$(this).children(".mainMenuIconImage").children(".mainMenuIconOverlay").removeClass("mainMenuIconOverlayHover");
		$(this).children(".mainMenuIconLabelFrame").children(".mainMenuIconLabel").removeClass("mainMenuIconOverlayHover");
		openForm($(this).children(".mainMenuIconLabelFrame").children().children("a").first().attr("href"));
	});
	icn.children(".mainMenuIconLabelFrame").children().children("a").click(function() {
		openForm($(this).attr("href"));
		return false;
	});
});
</script>
<div class="ui-widget-content" style="margin-left: -1px; margin-top: -1px; border-right: 3px solid #e78f08; position: fixed; left: 0px; top: 0px; width: 27px; height: 100%; z-index: -1">
</div>
<br />
<br />
<div class="mainMenuIconFrame">

{% for icon in icons %}

<div class="mainMenuIcon">
	<div class="mainMenuIconImage">
		<div class="mainMenuIconOverlay"></div>
		<img src="{{icon.icon}}"></img>
	</div>
	<div class="mainMenuIconLabelFrame">
		<div class="mainMenuIconLabel"><a class="mainMenuIconLabelText" href="{{icon.form}}">{{icon.display}}</a></div>
	</div>

</div>

{% endfor %}
</div>

{% endblock %}
