<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Tests Logs</title>
		<link rel="stylesheet" href="/static/carmweb.css" type="text/css" />
	</head>
	<body>
		<h2>Test Summary [<a href="/tests/coverage/{{fileArg}}">Coverage</a>]</h2>
		<table class="table_summary">
		<tr>
		<th class="th_horizontal">Total tests:</th>
		<td>{{totalCount}}</td>
		</tr>
		<tr>
		<th class="th_horizontal">Tests run:</th>
		<td>{{totalRun}}</td>
		</tr>
		<tr>
		<th class="th_horizontal">Tests succeeded:</th>
		<td>{{totalSuccess}}</td>
		</tr>
		<tr>
		<th class="th_horizontal">Tests failed:</th>
		<td>{{totalFailed}}</td>
		</tr>
		</table>
		<h2>Test Overview</h2>
		<table class="legend">
		<td class="legendcell">
		<div class="legend_sample testresult_success"></div> Success
		</td>
		<td class="legendcell">
		<div class="legend_sample testresult_failure"></div> Failure
		</td>
		<td class="legendcell">
		<div class="legend_sample testresult_notest"></div> Not run
		</td>
		</table>
		<table class="table_overview">
		<tr>
		<th>Category</th><th>OK</th><th>Run</th><th>Total</th>
		</tr>
		{% for testcat in testcats %}
		<tr class="testresult_{{testcat.result}}">
		<td>{{testcat.name}}</td>
		<td>{{testcat.successCount}}</td><td>{{testcat.runCount}}</td><td>{{testcat.count}}</td>
		</tr>
		<tr><td colspan="1">
		{% for testfixture in testcat.testfixtures %}
		<div class="testbox testresult_{{testfixture.result}}">{{testfixture.displayName}}</div>
		{% endfor %}
		</td></tr>
		{% endfor %}
		</table>
		<h2>Test Runs</h2>
		<ul>
		{% for file in files %}
			<li><a href="/tests/runlog/TestReport/{{file}}">{{file}}</a></li>
		{% endfor %}
		<ul>
	</body>
</html>