<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Tests Logs</title>
		<link rel="stylesheet" href="/static/carmweb.css" type="text/css" />
	</head>
	<body>
		<h2>Coverage Summary [<a href="/tests/aggregate/{{fileArg}}">Results</a>]</h2>
		<table class="table_summary">
		<tr class="important_row">
		<th class="th_horizontal">Total coverage:</th>
		<td><b>{{"%.1f"|format(100 * totalCovered / totalCount)}} %</b></td>
		</tr>
		<tr>
		<th class="th_horizontal">Total lines:</th>
		<td>{{totalCount}}</td>
		</tr>
		<tr>
		<th class="th_horizontal">Covered lines:</th>
		<td>{{totalCovered}}</td>
		</tr>
		<tr>
		<th class="th_horizontal">Number of files:</th>
		<td>{{fileCount}}</td>
		</tr>
		</table>
		<h2>Test Overview</h2>
		<table class="table_overview">
		<tr>
		<th>File</th><th>Lines</th><th>Covered</th><th>%</th><th>Tests</th>
		</tr>
		{% for file in fileList %}
		<tr>
		{% if file.type == "file" %} 
		<td class="coveragefile list_level_{{file.level}}"><a href="/tests/filecoverage/{{fileArg}}{{file.path}}">{{file.name}}</a></td>
		{% else %}
		<td class="coveragefile list_level_{{file.level}}">{{file.name}}</td>
		{% endif %}
		<td>{{file.lines}}</td>
		<td>{{file.covered}}</td>
		<td>{{"%.1f"|format(100 * file.covered / file.lines)}}</td>
		<td>{% for cat in file.categories %}
		<div class="category_box">{{cat}}</div>
		{% endfor %}</td>
		</tr>
		{% endfor %}
		</table>
	</body>
</html>