**/.idea/
/.idea/

**/.metadata/
/.metadata/

**/.settings/
/.settings/

**/.classpath
/.classpath

**/.project
/.project

**/build/**
/build/

**/target/**
/target/

**/WebContent/META-INF/MANIFEST.MF

**/out/**
/out/

overlays/
sonarlint/
xmlrpc-mock-server/logs/


*.log
*.ipr
*.iws
*.iml

.DS_Store
Thumbs.db

docker/jboss/config/jeppesen-config/crewweb.properties
!docker/jboss/config/jeppesen-config/crewweb.properties-default

**/04-crewportal-application.sh
bids_user/.m2/repository
bids_user/dev/openstack.tf/.terraform/plugins/
bids_user/dev/openstack.tf/files/
bids_user/dev/docker/jboss/config/jeppesen-config/career.properties
bids_user/dev/docker/jboss/config/jeppesen-config/vacation.properties
