/* Johans CSS */
/*  071026: color: #00337F; added for headings  */
/*  Arial also for Heading_Book and Heading_1 */
/* MT 20110405: Added Table_Normal for correct conversion of Word document tables to WWP - bug Word 2007 */
/* JS 20111004: Added cancellation of GrayHead formatting for list-tables. */
/* JS 20111024: New table formats ExampleWide and Grid. */
/* JS 20120507: Cleaned up sideheads, specifically for SeeAlso. */

/* Styles for links */
a[href]:link    { color: #3366CC; text-decoration: none}
a[href]:visited { color: #3366CC; text-decoration: none}
a[href]:hover   { text-decoration: underline}
a[href]:active  { color: #3366CC; text-decoration: none}
a[href].PopupLink     { color: #3366CC; border-bottom: 1px dashed #3366CC }

body {
  background-color: #FFFFFF;
  max-width: 650px;
  min-width: 300px;
  padding-left: 1em;

  /* Default text properties */
  color: #000000;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;  
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none }

blockquote {
  margin-left: 0em;
  margin-right: 0em }

/* ---------- Paragraph Styles ---------- */

/* Headings */
.Heading_Book {
  margin-top: 50pt;
  margin-bottom: 30pt;
  font-size: 36pt;
  font-style: italic; 
  font-weight: bold; 
  color: #00337F;}
.Heading_1 {
  margin-top: 0pt;
  margin-bottom: 30pt;
  font-style: italic;
  font-size: 32pt;
  font-weight: bold; 
  color: #00337F; }
.Heading_2 {
  margin-top: 0pt;
  margin-bottom: 12pt;
  font-weight: bold; 
  font-size: 28pt;
  color: #00337F; }
.Heading_3 {
  margin-top: 0pt;
  margin-bottom: 6pt;
  font-weight: bold; 
  font-size: 18pt;
  color: #00337F; }
.Heading_3_noTOC {
  margin-top: 18pt;
  margin-bottom: 6pt;
  font-weight: bold; 
  font-size: 18pt;
  color: #00337F; }
.Heading_4 {
  margin-top: 12pt;
  margin-bottom: 3pt;
  font-weight: bold; 
  font-size: 12pt;
  color: #00337F; }
.Heading_5 {
  margin-top: 6pt;
  margin-bottom: 3pt;
  font-weight: bold; 
  font-size: 10pt;
  color: #00337F; }

.Body_Text, .Body_Text_NoMargin, .Body_Text_Small, .Body_Text_Center,
.Landscape_First, .Landscape_Last {
  margin-top: 0pt;
  margin-bottom: 6pt }
.Body_Text_Ind {
  margin-top: 0pt;
  margin-bottom: 6pt; 
  margin-left: 1.3em }
.Body_Text_Center {
  text-align: center }

.Code_Text, .Code_Text_Wide, .Code_Text_Row {
  padding: 1pt;
  margin-bottom: 6pt;
  font-family: Courier New, Courier, monospace;
  font-size: 9pt;
  white-space: pre;
  background-color: #DDDDDD;}
.Code_Text, .Code_Text_Wide {
  width: 650px;}
 .Code_Text_Row {
  margin-bottom: 0;}
/* Leave code text in tables alone */
td .Code_Text, td .Code_Text_Wide, td .Code_Text_Row  {
  width: auto;
  background-color: white;}
  
.Definition_Term {
  margin-top: 0pt;
  margin-bottom: 0pt }
.Definition_Text {
  margin-top: 0pt;
  margin-bottom: 3pt;
  margin-left: 3em }

.Glossary_Term {
  margin-top: 0pt;
  margin-bottom: 0pt;
  font-size: 10pt;
  font-weight: bold }
.Glossary_Text {
  margin-top: 0pt;
  margin-bottom: 3pt;
  margin-left: 3em }

.Table_Head {
  text-align: center;
  font-weight: bold;
  font-size: 10pt  }

.WWP_Space {
  font-size: 1pt;
  margin-bottom: 6pt  }


/* ---------- Character Styles ---------- */

.BNF_NonTerminal {
  font-family: Courier New, Courier, monospace;
  font-style: italic }
.BNF_Terminal {
  font-family: Courier New, Courier, monospace;
  font-weight: bold }

.Code, .Filename {
  font-family: Courier New, Courier, monospace;
  font-size: 9pt;}

.GUI_Object { 
  font-weight: bold }

.Highlight {
  font-weight: bold }

.Input {
  font-family: Courier New, Courier, monospace;
  font-size: 9pt }

.Link {
  color: #3366CC;
  text-decoration: none }

.Literal, .Literal_Small {
  font-family: Courier New, Courier, monospace;
  font-size: 9pt }

.Lowercase {
  text-transform: lowercase }

.Resource {
  font-family: Courier New, Courier, monospace;
  font-size: 9pt }

.Side_Head {
  font-family: Helvetica;
  font-size: 10.0pt;
  font-style: italic;
  font-weight: bold;
  vertical-align: baseline }

.Xref {
  font-style: italic }

sub, sup, .Superscript {vertical-align: baseline; position: relative; font-size: smaller;}
sup, .Superscript {top: -0.3em;}
sub {bottom: -0.3em;}

/* ---------- Table Styles ---------- */

table { margin-top: 10pt;}
td p { margin-top: 0pt; margin-bottom: 0pt }

table.ExTable, table.ExTableWide, table.Layout, table.GrayHead , table.Grid {
  margin-top: 0pt;
  margin-bottom: 6pt;
  border-collapse: collapse;
  background-color: #FFFFFF;}

table.ExTable td, table.ExTableWide td, table.Layout td, table.GrayHead  td, table.Grid td {
  padding: 4px;
  vertical-align: top;
  text-align: left;}

table.ExTable, table.ExTableWide {
  border: 1px solid #DDDDDD;
  width: 100%;  }
table.ExTable tr td:first-child {
  background-color: #DDDDDD;
  width: 3em;  }
table.ExTableWide tr:first-child {
  background-color: #DDDDDD }

table.Layout td {
  border: 1px solid #DDDDDD }

/* table.GrayHead th { */
/*   border: 1px solid #AAAAAA; */
/*   background-color: #DDDDDD; */
/*   padding: 4px } */
/* Unfortunately WebWorks do not use the th-tag for header rows ... */
/* See fix below. */
table.GrayHead tr:first-child {
  background-color: #DDDDDD }
table.GrayHead td {
  border: 1px solid #999999 }

/* ---------- Image Styles ---------- */
img.OptionalFlag { float:right }
  
/* ---------- Various WebWorks-fixes ---------- */

/* Company Info */
td.WebWorks_Company_Logo_Bottom {
  padding-bottom: 0.7em;
  text-align: right }
td.WebWorks_Company_Phone_Bottom, td.WebWorks_Company_Fax_Bottom {
  padding-bottom: 0.2em;
  text-align: right;
  font-weight: bold;
  color: #888888 }

/* Drop down link */
.WWP_DropDown {
  margin-top: 0pt;
  margin-bottom: 6pt;
  color: #3366CC }

.WWP_DropDown>a { 
  cursor:pointer;
  cursor:hand; }

/* "Example"-text */
.N_Example, .N_Example_Num_First, .N_Example_Num_Next {
  margin-top: 0pt;
  width: 6em }

/* SideHeads */
div.N_Admin_outer table,
div.N_Advanced_outer table,
div.N_Location_outer table,
div.N_Purpose_outer table,
div.N_Rave_outer table,
div.N_Report_outer table,
div.N_SeeAlso_outer table,
div.N_Step_First_outer table,
div.N_Step_Next_outer table,
div.N_Use_outer {
  margin-top: 0pt;
  margin-bottom: 6pt }
div.N_Admin_outer table tr td:first-child div,
div.N_Advanced_outer table tr td:first-child div,
div.N_Location_outer table tr td:first-child div,
div.N_Purpose_outer table tr td:first-child div,
div.N_Rave_outer table tr td:first-child div,
div.N_Report_outer table tr td:first-child div,
div.N_SeeAlso_outer table tr td:first-child div,
div.N_Step_First_outer table tr td:first-child div,
div.N_Step_Next_outer table tr td:first-child div,
div.N_Use_outer table tr td:first-child div {
  width: 5em }

.N_Note_outer table{
  margin-top: 4pt;
  margin-bottom: 0pt}
.N_Note_outer{
  border-top: 1px solid #A0BEE5;
  border-bottom: 1px solid #A0BEE5;
  padding-bottom: 4pt;
  padding-right: 6pt;
  margin-top: 12pt;
  margin-bottom: 12pt  }
.N_Note_outer table tr td:first-child div,
.N_Note_First_outer table tr td:first-child div{
  width: 3em;
  margin-bottom: 6pt}
.N_Note_First_outer table{
  margin-top: 4pt}
.N_Note_First_outer{
  border-top: 1px solid #A0BEE5;
  padding-right: 6pt;
  margin-bottom: 6pt;  
  margin-top: 12pt}
.N_Note_Middle {
  margin-bottom: 6pt;
  padding-left: 30pt;
  padding-right: 6pt}
.N_Note_Last {
  border-bottom: 1px solid #A0BEE5;
  margin-bottom: 12pt;
  padding-left: 30pt;
  padding-right: 6pt;
  padding-bottom: 4pt}   

/* Lists */
div.List_Bullet_outer table,
div.List_Bullet_Ind_outer table,
div.List_Num_First_outer table,
div.List_Num_Next_outer table {
  margin-top: 0pt;
  margin-bottom: 6pt }
div.List_BulletComp_outer table,
div.List_BulletComp_Ind_outer table,
div.List_NumComp_First_outer table,
div.List_NumComp_Next_outer table {
  margin-top: 0pt;
  margin-bottom: 0pt }

 /* Cancel ExTable and GrayHead formatting. */
div.List_Bullet_outer table tr td,
div.List_Bullet_Ind_outer table tr td,
div.List_BulletComp_outer table tr td,
div.List_BulletComp_Ind_outer table tr td,
div.List_Num_First_outer table tr td,
div.List_Num_Next_outer table tr td,
div.List_NumComp_First_outer table tr td,
div.List_NumComp_Next_outer table tr td {
  border: 0px;
  padding: 0px;  }
div.List_Bullet_outer table tr td:first-child,
div.List_Bullet_Ind_outer table tr td:first-child,
div.List_BulletComp_outer table tr td:first-child,
div.List_BulletComp_Ind_outer table tr td:first-child,
div.List_Num_First_outer table tr td:first-child,
div.List_Num_Next_outer table tr td:first-child,
div.List_NumComp_First_outer table tr td:first-child,
div.List_NumComp_Next_outer table tr td:first-child ,
div.List_Bullet_outer table tr:first-child,
div.List_Bullet_Ind_outer table tr:first-child,
div.List_BulletComp_outer table tr:first-child,
div.List_BulletComp_Ind_outer table tr:first-child,
div.List_Num_First_outer table tr:first-child,
div.List_Num_Next_outer table tr:first-child,
div.List_NumComp_First_outer table tr:first-child,
div.List_NumComp_Next_outer table tr:first-child {
  background-color: #FFFFFF }

div.List_Bullet_outer table tr td:first-child div,
div.List_BulletComp_outer table tr td:first-child div {
  width: 1.3em;
  padding-left: 0.2em;
  text-align: left }
div.List_Num_First_outer table tr td:first-child div,
div.List_Num_Next_outer table tr td:first-child div,
div.List_NumComp_First_outer table tr td:first-child div,
div.List_NumComp_Next_outer table tr td:first-child div {
  width: 1.3em;
  padding-right: 0.2em;
  text-align: right }

div.List_Bullet_Ind_outer table tr td:first-child div,
div.List_BulletComp_Ind_outer table tr td:first-child div {
  margin-left:1.3em;
  width: 1em;
  text-align: left }

div.List_Paragraph {
  margin-top: 0pt;
  margin-bottom: 6pt;
  margin-left: 1.3em }

.Caption, .Caption_inner  {
font-style: italic;
margin-left: 0pt;
margin-bottom: 6pt;
}

div.WebWorks_MiniTOC {
    margin-bottom:10pt;
}
