
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<distributable />
	
	<!-- Camel servlet-listener: this will bootstrap configured routes -->
		<listener>
			<listener-class>org.apache.camel.component.servletlistener.SimpleCamelServletContextListener</listener-class>
		</listener>
		<!-- Camel context name -->
		<context-param>
			<param-name>name</param-name>
			<param-value>Integrator</param-value>
		</context-param>
		<!-- Add Java route builders -->
		<context-param>
			<param-name>routeBuilder-classes</param-name>
			<param-value>
				com.jeppesen.jcms.integrator.routes.UserDirectoryFromBidImportFileRouteBuilder
			</param-value>
		</context-param>
</web-app>
