#header {
	position : fixed !important;
	width: 100% !important;
}

#text_quote {
	border: 1px dotted;
    left: 50%;
    margin-left: -250px;
    position: absolute;
    top: 150px;
    width: 500px;
}

p#logout {
	margin: 10px;
	font-family: Arial;
	font-size: 1.5em;
}

