#vacation_loading {
	width: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
} 

.x-toolbar.x-small-editor.x-toolbar-layout-ct {
	border-bottom-width: 0px;
}

.ux-calander-feed-defaults {
	background-color: #FFBFBF;
}

.calendarfeed1-type1 {
	background-color:#00FF00;
}

.calendarfeed1-type2 {
	background-color:#AAFF00;
}

.calendarfeed2-type1 {
	background-color:#CCBB00;
}

.calendarfeed2-type2 {
	background-color:#00FF00;
}

.trip-item-personal {
	background-color: #CCC;
}

.trip-item-ground {
	background-color: #CC9966;
}

.trip-item-F {
	background-color: #CCC;
}

.template-example {
	color: #AABBCC;
	font-family: verdana;
	font-size: 15px;
	font-style: italic
}

#periodText {
	font-size: 14px;
	font-weight:bold;
}

.warp_jmp_bidlist_new_bid_button {
	font-size: 12px !important;
	font-weight:bold !important;
	color: red !important;
	padding-left: 0px !important;
}

.warp_jmp_bidlist_edit_bid_button {
	font: 11px arial,tahoma,verdana,helvetica !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.warp_jmp_bidlist_bid_receipt_button {	
	font: 11px arial,tahoma,verdana,helvetica !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}




/* Detailed Crew info */

#crewInfoTable {
	padding-left: 5px;	
}

#crewInfo-tr {
}

#crewInfo-td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#crewInfoList {
	padding-left: 5px;
}

#crewInfoCategory {
	font-weight: bold;
	font-family: Arial;
/* 	font-size: 0.8em; */
	font-size: 11px;
	color: #15428B
}

#crewInfoCategoryName {
/* 	font-weight: bold; */
	font-family: Arial;
/* 	font-size: 0.7em; */
	font-size: 11px;
	color: #15428B
}

#crewInfoCategoryValue {
	font-family: Arial;
	font-weight: italic;
/* 	font-size: 0.7em;	 */
	font-size: 11px;
	color: #15428B
}

.detailed-crew-info-body {
	background-color: #DFE8F6;
}


/* Bid Group Receipt */
#bidGroupList {
	padding-bottom:10px;
}

#bidGroupReceipt {
	background-color:white;
}

#bidGroupReceiptUserInfo {
	text-align: left;
	border: 1px solid black;
}

#bidGroupReceiptUserInfoHeaderCell {
	font-size: 14px;
	padding: 1px 5px 1px 10px;
}

#bidGroupReceiptUserInfoBodyCell {
	font-size: 12px;
	padding: 1px 5px 1px 10px;
}

#bidGroupReceiptTable {
	text-align: left;
	border-spacing: 0;
	border-collapse:collapse;
	width: 800px;
}


#bidGroupReceiptTableHeader {
	font-size: 14px;
	padding: 1px 10px 1px 10px;
	background-color: #BBBBBB;
	border-bottom: 1px solid #000;
}

#bidGroupReceiptTableHeaderCell {
	padding: 1px 10px 1px 10px;
}

#bidGroupReceiptTableBodyEven {
	font-size: 12px;
	padding: 1px 10px 1px 10px;
	background-color: #FFFFFF;
}

#bidGroupReceiptTableBodyOdd {
/* 	display: inline-block; */
	font-size: 12px;
	padding: 1px 10px 1px 10px;
	background-color: #DDDDDD;
}

#bidGroupReceiptTableBodyCell {
	padding: 1px 10px 1px 10px;
	border-bottom: 1px dotted #000000;
}


.ux-calendar-weekday {
	background-image: url("../img/calendar_date_background.gif");
/*    background-size: 20px auto;*/
    float: left;
    height: 20px;
    position: relative;
    padding-top: 5px;
}

.ux-calendar-weeknumber-weekday {
    background-image: url("../img/calendar_date_background.gif");
/*    background-size: 20px auto;*/
    float: left;
    height: 20px;
    padding-top: 5px;
}

.test {
	padding-top: 15px;
}

.bid-property-label-postpone_vacation {
	position: relative;
	top: -8px;
}

.bid-property-transfer_vacation {
    margin-top: 25px;
}

ul.cw-messagebox-message > li:first-child {
	list-style: none;
	font-weight: bold;
	margin-left: 0px !important;
}

ul.cw-messagebox-message > li {
	margin-left: 25px;
}